@font-face {
  src:
    url(./fonts/Inter/Inter-Thin.woff) format("woff"),
    url(./fonts/Inter/Inter-Thin.woff2) format("woff2");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src:
    url(./fonts/Inter/Inter-ExtraBold.woff) format("woff"),
    url(./fonts/Inter/Inter-ExtraBold.woff2) format("woff2");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  src:
    url(./fonts/Inter/Inter-ExtraLight.woff) format("woff"),
    url(./fonts/Inter/Inter-ExtraLight.woff2) format("woff2");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}


@font-face {
  src:
    url(./fonts/Inter/Inter-Light.woff) format("woff"),
    url(./fonts/Inter/Inter-Light.woff2) format("woff2");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


@font-face {
  src:
    url(./fonts/Inter/Inter-Regular.woff) format("woff"),
    url(./fonts/Inter/Inter-Regular.woff2) format("woff2");
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src:
    url(./fonts/Inter/Inter-Black.woff) format("woff"),
    url(./fonts/Inter/Inter-Black.woff2) format("woff2");
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
}