.lead__title {
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1280px), (min-width: 1280px) {
  .lead__title {
    max-width: calc(100% - 264px);
    font-size: 96px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: calc(100% - 264px);
    font-size: 96px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 100%;
    font-size: 96px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 100%;
    font-size: 40px;
  }
}