.lead__image {
  margin: 64px 0 0 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 56px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin: 56px -24px 0 -24px;
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 40px -16px 0 -16px;
    width: calc(100% + 32px);
  }
}