.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  box-sizing: border-box; 
  margin: 0;
  box-sizing: border-box;
  padding: 92px 0 0 100px;
  width: calc(100% - 342px);
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 0 0 0;
    width: calc(100% - 238px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 0 0 0;
    width: 100%;
  }
}