.cover__overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  color: #fff;
  text-decoration: none;
  transition: background .5s ease-in-out;
  background: rgba(42,44,47,0.3); 
}

.cover__overlay:hover {
  background: rgba(42,44,47,0.8); 
}

